 <script type="text/javascript">var submitted=false;</script>
 <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='{{site.url}}{{site.baseurl}}/thank-you/';}"></iframe>
   
   <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLScqhzRI4iihHjFTAciS6v2dhCYJRD5iCuMDvFvRofZH4KMRBg/formResponse" data-aos="fade-up" data-aos-offset="30" data-aos-easing="ease-in-sine" target="hidden_iframe" 
onsubmit="submitted=true;">
    <div class="input">
    <input name="entry.1591022215" type="text" required placeholder="Name"/>
    </div>
    <div class="input">
   <input name="entry.791257939" type="tel" required placeholder="Phone"/>
   </div>
   <div class="submit">
      <button type="submit" class="btn btn-success-gradiant">
                    <i class="fa fa-phone"></i><span> Call Me</span>
      </button>
   </div>
</form>